<section class="flex justify-content-around mb-8">

  <p-card header="Numero de factura">
    <p class="m-0 text-center">
        <span class="text-2xl font-bold text-primary" >0001</span>
    </p>
  </p-card>
  
  <p-card header="Logo">
    <p class="m-0 text-center">
      <span class="text-2xl font-bold text-primary" >Clinica de ultrasonido <br> Dr. Pedro Hernandez</span>
    </p>
  </p-card>
  
  <p-card header="Estado de factra">
    <p class="m-0 text-center">
      <span class="text-2xl font-bold text-primary" >Activa</span>
    </p>
  </p-card>

</section>

<app-cliente-info></app-cliente-info>

<div class="flex align-items-baseline">
  <app-estudio-info></app-estudio-info>

  <app-compra-info></app-compra-info>
</div>