<section class="card flex justify-content-center gap-6">

  <form class="card flex justify-content-center flex-column" [formGroup]="formBuscarPaciente">

    <label for="buscar-paciente" class="mb-2">
      Buscar paciente
    </label>

    <div class="w-20rem">
      <input type="text" pInputText placeholder="DUI del paciente" name="buscar-paciente" id="buscar-paciente"
        formControlName="buscarPaciente" />
      <p-button icon="pi pi-search" styleClass="bg-primary text-white" (onClick)="buscarPacienteByDUI()" />
    </div>

  </form>


  <p-panel header="Datos del paciente" *ngIf="paciente">
    <div class="flex justify-content-between gap-7 mb-5">
      Nombre: <strong> {{ nombreCompleto }} </strong>
      Tel. <strong> {{ paciente.telefono }} </strong>
    </div>

    <div class="flex justify-content-between">
      Email: <strong> {{ paciente.email }} </strong>
      Edad: <strong> {{ edadPaciente }} años</strong>
    </div>
  </p-panel>


  <p-panel header="Fecha de Emision de factura" styleClass="w-20rem">
    <p>
      {{ emisionFactura | date:'dd/MM/yyyy hh:mm a' }}
    </p>
  </p-panel>

</section>