<form action="#" class="container surface-100 p-5 w-30rem border-round-xl">

  <h2>Registro de estdios</h2>

    <div class="field">
      <label for="nombre">Nombre de estudio</label>
      <input id="nombre" type="text"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field">
      <label for="precio">Precio de estudio</label>
      <input id="precio" type="text"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
  
    <p-button label="Crear Estudio" styleClass="bg-primary text-white w-full" />


</form>