

<section class="flex justify-content-around mb-8">

  <p-card header="Total de venta">
    <p class="m-0 text-center">
        <span class="text-2xl font-bold text-primary" >$226.00</span>
    </p>
  </p-card>
  
  <p-card header="Total de pacientes">
    <p class="m-0 text-center">
      <span class="text-2xl font-bold text-primary" >160</span>
    </p>
  </p-card>
  
  <p-card header="Total de estudios del dia">
    <p class="m-0 text-center">
      <span class="text-2xl font-bold text-primary" >14</span>
    </p>
  </p-card>

</section>

<div class="container">
  <p-table [value]="listaCompras" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th># Factura</th>
            <th>Estudio</th>
            <th>Paciente</th>
            <th>Fecha</th>
            <th>Cantidad</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-compra>
        <tr>
            <td> {{ compra.id }} </td>
            <td> {{ compra.estudioId }} </td>
            <td> {{ compra.facturaId }} </td>
            <td> {{ compra.precioCompra }} </td>
            <td> {{ compra.cantidad }} </td>
        </tr>
    </ng-template>
  </p-table>
</div>