
<form class="card flex justify-content-center flex-column my-5">

  <div class="flex gap-4">

    <input type="text" pInputText placeholder="ID del estudio" name="buscar-estudio"
      id="buscar-estudio" />
    <p-button icon="pi pi-search" styleClass="bg-primary text-white" />

    <input type="text" pInputText placeholder="Nombre de estudio" name="nombre-estudio"
    id="nombre-estudio" />

    <input type="text" pInputText placeholder="Precio del estudio" name="precio-estudio"
    id="precio-estudio" />

    <input type="text" pInputText placeholder="cantidad" name="cantidad"
    id="cantidad" />

  </div>

  <p-button label="Agregar estudio" icon="pi pi-plus" iconPos="right" styleClass="bg-primary text-white mt-4" />

</form>