/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

:root {
  --primary-color: #212650;
  --primary-color-text: var(--primary-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and ( max-width: 400px ) {
  
  .container {
    max-width: 95%;
  }

}